<br /><br />

<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h4>Sistema de Gestão de Locais</h4>
        </div>
        <div class="float-right">
            <a [routerLink]="['novo']" class="btn btn-primary">Novo Local</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Locais</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let locals of locals">
                    <td>{{ locals.id }}</td>
                    <td>{{ locals.name }}</td>
                    <td>
                        <span class="float-right">
                            <button class="btn btn-outline-warning mb-1 btn-sm">Atualizar</button>
                            
                            <button class="btn btn-outline-danger mb-1 btn-sm">Remover</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 

</div>
