<div class="container">
  <form (ngSubmit)="submit()" class="p-3 bg-faded">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Cadastro</span>
        </div>
      </p-header>
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label"><strong>Nome</strong></label>
        <div class="col-sm-9">
          <input id="name" type="text" class="form-control" formControlName="name" />
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label"><strong>Descrição</strong></label>
        <div class="col-sm-9">
          <input id="description" type="text" class="form-control" formControlName="description" />
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label"><strong>Administração</strong></label>
        <div class="col-sm-9">
          <input id="description" type="text" class="form-control" formControlName="description" />
        </div>
      </div>
      <p-footer>
        <div class="text-right">
          <button type="button" class="btn btn-outline-primary"><i class="pi pi-times"></i>Salvar</button>
          <button type="button" class="btn btn-outline-danger"><i class="pi pi-save"></i>Cancelar</button>
          <!-- <button pButton type="button" class="ui-button-info" label="Cancel"><i class="pi pi-times"></i>Cancelar</button>
        <button pButton type="submit" class="ui-button-success" label="Save"><i class="pi pi-save"></i>Salvar</button> -->
        </div>
      </p-footer>
    </p-panel>
  </form>
</div>


<!-- <form (ngSubmit)="submit()" class="p-3 bg-faded">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label"><strong>Nome</strong></label>
      <div class="col-sm-9">
        <input id="name" type="text" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label"><strong>Descrição</strong></label>
      <div class="col-sm-9">
        <input id="description" type="text" class="form-control" formControlName="description" />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label"><strong>Administração</strong></label>
      <div class="col-sm-9">
        <input id="description" type="text" class="form-control" formControlName="description" />
      </div>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary"><i class="pi pi-times"></i>Salvar</button>
      <button type="button" class="btn btn-outline-danger"><i class="pi pi-save"></i>Cancelar</button> -->
<!-- <button pButton type="button" class="ui-button-info" label="Cancel"><i class="pi pi-times"></i>Cancelar</button>
      <button pButton type="submit" class="ui-button-success" label="Save"><i class="pi pi-save"></i>Salvar</button> -->
<!-- </div>
  </form> -->
